{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}

<div class="creation-question">
    <h1>Création de la question</h1>

    {{ form_start(form) }}
        <div class="form-container">
            <div class="form-gauche">
                <div>
                    {{ form_label(form.questionType) }} <br/>
                    {{ form_widget(form.questionType) }}
                </div>
                <div>
                    {{ form_label(form.question) }} <br/>
                    {{ form_widget(form.question) }}
                </div>
                <div>
                    {{ form_label(form.note_max) }} <br/>
                    {{ form_widget(form.note_max) }}
                </div>
            </div>

            <div class="form-droite">
                <div>
                    {{ form_label(form.reponse1) }} <br/>
                    {{ form_widget(form.reponse1) }}
                </div>
                <div>
                    {{ form_label(form.reponse2) }} <br/>
                    {{ form_widget(form.reponse2) }}
                </div>
                <div>
                    {{ form_label(form.reponse3) }} <br/>
                    {{ form_widget(form.reponse3) }}
                </div>
                <div>
                    {{ form_label(form.reponse4) }} <br/>
                    {{ form_widget(form.reponse4) }}
                </div>
            </div>

        </div>
         <div class="form-boutton">
            {{ form_row(form.Envoyer) }}
         </div>
    {{ form_end(form) }}

</div>
{% endblock %}
