{% extends 'base.html.twig' %}

{% block title %}Hello QuizSuiviController!{% endblock %}

{% block body %}

<div class="quiz-suivi">
    <h1>Suivi du Quiz</h1>

    <div class="creer-question">
        {% if ('ROLE_PROF' in app.user.roles) %}
            <a href="{{ path('app_question_create', {'id': quiz.id}) }}">
                <button class="create-comment-button button">
                    Créer une Question
                </button>
            </a>
        {% endif %}
    </div>
    {#    On effectue une boucle pour balayer toutes les questions du quiz #}
    {% for question in quiz.questions %}
        <div class="bloc-question">
            <p class="question-description">{{ question.question }} ( / {{ question.noteMax }} ) </p> <br/>
            {%  if (question.questionType.id==1) %}
            <a href="{{ path('app_reponse_QCM_create', {'id': question.id}) }}">
                <button class="create-comment-button button">Répondre</button>
            </a>
                {% else %}
                    <a href="{{ path('app_reponse_QCR_create', {'id': question.id}) }}">
                        <button class="create-comment-button button">Répondre</button>
                    </a>
            {%  endif %}
        </div>
    {% endfor %}

    <div class="fin-quiz">
        <a href="{{ path('app_accueil') }}">
            <button class="create-comment-button button">Terminer</button>
        </a>
    </div>
</div>
{% endblock %}
