{% extends 'base.html.twig' %}

{% block body %}
    <div class="accueil-view">
        {#  Bouton Créer un Quizz si le user à le role PROF #}
        <div class="bandeau-top">
            {% if ('ROLE_PROF' in app.user.roles) %}
                    <a href="{{ path('app_dev_quiz_create') }}">
                        <button class="create-comment-button button">
                            Créer un Quiz
                        </button>
                    </a>
                    <a href="/quiz/clos">
                        <button class="create-comment-button button">
                            Quiz terminés
                        </button>
                    </a>
            {% endif %}


            {# Bouton Logout#}
            <a href="{{ path('app_logout') }}">
                <button class="create-comment-button button">
                    Se déconnecter
                </button>
            </a>
        </div>

        <div class="accueil-block-quiz">
            <div class="accueil-def-quiz">Titre</div>
            <div class="accueil-def-quiz">Status</div>
            <div class="accueil-def-quiz">Date début</div>
            <div class="accueil-def-quiz">Date Fin</div>
        </div>


        <div class="all-quizs-container">
            {% for quiz in quizs %}

                {% if  date() > date(quiz.datedebut) and date() < date(quiz.datefin)  %}

                    <div class="liens-quiz">
                        <a href="{{path('app_copie_create', {'id': quiz.id }) }}">
                            <div class="accueil-ligne-quizs" >
                                <div class="accueil-titre-quiz">
                                    {{ quiz.nom }}
                                </div>
                                <div class="accueil-contenu-quiz">
                                    {{ quiz.status }}
                                </div>
                                <div class="accueil-contenu-quiz">
                                    {{ quiz.dateDebut | date('d M Y') }}
                                </div>
                                <div class="accueil-contenu-quiz">
                                    {{ quiz.dateFin | date('d M Y') }}
                                </div>
                            </div>
                        </a>
                    </div>

                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}