{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}

    <div class="form-vue">
        <div class="form-titre">
            <h1>{{ controller_name }}</h1>
        </div>

        {{ form_start(form) }}
        <div class="form-container">
            <div class="form-gauche">
                <div>
                    {{ form_label(form.nom) }} <br/>
                    {{ form_widget(form.nom) }}
                </div>

                {{ form_row(form.date_debut) }}
                <div>
                    {{ form_label(form.formation) }} <br/>
                    {{ form_widget(form.formation) }}
                </div>

            </div>
            <div class="form-droite">
                <div>
                    {{ form_label(form.status) }} <br/>
                    {{ form_widget(form.status) }}
                </div>
                {{ form_row(form.date_fin) }}
                <div>
                    {{ form_label(form.noteMax) }} <br/>
                    {{ form_widget(form.noteMax) }}
                </div>
            </div>
        </div>
        <div class="form-boutton">
            {{ form_row(form.Envoyer) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
