{% extends 'base.html.twig' %}

{% block title %}Hello CopieSuiviController!{% endblock %}

{% block body %}

    <div class="correction-copie">
        <h1>Correction de la copie</h1>
        <form action="{{path('app_copie_correction_flush', {'id': copie.id }) }}" method="post">
            {% for question in questions %}
                <div class="correction-question">
                    <h3>{{ question.question }}</h3>
                </div>
                {% for reponse in reponses  %}
                    {%  if (question.questionType.id==1) %}

                            {% if reponse.question.id == question.id %}
                                <p>{{ question.reponse1 }}
                                    <input type="checkbox" {{ reponse.choixrep1 ? "checked":"" }}/>
                                </p>
                                <p>{{ question.reponse2 }}
                                    <input type="checkbox" {{ reponse.choixrep2 ? "checked":"" }}/>
                                </p>
                                <p>{{ question.reponse3 }}
                                    <input type="checkbox" {{ reponse.choixrep3 ? "checked":"" }}/>
                                </p>
                                <p>{{ question.reponse4 }}
                                    <input type="checkbox" {{ reponse.choixrep4 ? "checked":"" }}/>
                                </p>
                                <div class="bandeau-correction">
                                    <div class="annotation-question">
                                        Annotation : <br/>
                                    <textarea name="annotation-{{ reponse.id }}">{{ reponse.annotation }}</textarea>
                                    </div>
                                    <div class="note-question">
                                        Note de la question ( / {{ question.noteMax }} )<br/>
                                        <input name="note-{{ reponse.id }}"value="{{ reponse.Note }}" type="number" min="0" max="{{ question.noteMax }}"/>
                                    </div>
                                </div>
                            {% endif %}
                            {% else %}
                                {% if reponse.question.id == question.id %}
                                    <p> <span class="intitule-reponse">Réponse :</span> {{ reponse.reponse }}
                                    </p>
                                    <div class="bandeau-correction">
                                        <div class="annotation-question">
                                            Annotation : <br/>
                                            <textarea name="annotation-{{ reponse.id }}">{{ reponse.annotation }}</textarea>
                                        </div>
                                        <div class="note-question">
                                            Note de la question ( / {{ question.noteMax }} )<br/>
                                            <input name="note-{{ reponse.id }}" value="{{ reponse.Note }}" type="number" min="0" max="{{ question.noteMax }}"/>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="bandeau-correction-generale">
                <div class="annotation-generale">
                    <h2> Annotation générale</h2>
                    <textarea name="annotation-copie"> {{ copie.annotation }}</textarea>
                </div>
                <div class="note-generale">
                    <h2>Note de la copie</h2>
                    <input name="note-copie" value="{{ copie.note }}" type="number" min="0" max="{{ quizNoteMax }}"/>
                </div>
            </div>
            <div class="valider-correction">
                <button class="button" type="submit"> Valider </button>
            </div>
        </form>
    </div>
{% endblock %}